.contanier{
    width: 1200px;
    height: 600px;
     background-color: aqua;
     border: 3px solid rgb(53, 144, 187);

}
.contanier-list{
    list-style: none;
   
    
    display: flex;
  justify-content: space-evenly;

    flex-direction: row-reverse;
    
}

.contanier-item{
    width:120px;
    height:120px;
    border: 2px solid green;
    margin: 30px;
    padding: 40px;
    border-radius: 25px;
    text-align: center;

}
img{
    width: 120px;
    height: 120px;
    border-radius: 25px;
    
}